streamlit==1.29.0
matplotlib==3.8.2
yfinance==0.2.31  # 변경
numpy_financial
plotly==5.18.0
tabulate
seaborn
PyPortfolioOpt==1.5.5
ollama==0.1.6
kaleido
wordcloud
PyPDF2
markdown
nltk
arch==6.2.0
pandas==2.1.3
numpy==1.26.2
scipy==1.11.4
scikit-learn==1.3.2
pydantic==2.5.2

